<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>

  <body ng-app="NarrowItDownApp">
    <div class="container" ng-controller="NarrowItDownController as controller">
      <h1>Narrow Down Your Chinese Menu Choice</h1>

      <div class="row">
        <div class="form-group col-xs-4">
          <input type="text" ng-model="controller.searchTerm" placeholder="search term" class="form-control">
        </div>
        <div class="form-group narrow-button col-xs-2"> 
          <button class="btn btn-primary" ng-click="controller.search();">Narrow It Down For Me!</button>
        </div>
      </div>

      <found-items items="controller.found" on-remove="controller.removeItem(index);"/>
    </div>

    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
